@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: block;
  font-size: 4rem;
}

.heading-secondary {
  font-size: 3.5rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-padding-left-medium {
  padding-left: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-position-button-right {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.thelist {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 2rem;
  background-color: white;
  border: solid 1px #DCDCDC;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.thelist__header {
  padding: 1rem 1rem 1rem 1.5rem;
  border-bottom: solid 1px #DCDCDC;
  position: relative;
}

.thelist__header-title {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.thelist__list-tasks {
  list-style: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.thelist__task {
  padding: 0.5rem;
  background-color: #D3D3D3;
  margin-bottom: 1rem;
}

.thelist__task-checkbox {
  float: left;
}

.thelist__task-title {
  padding-left: 3rem;
  color: black;
  font-weight: normal;
}

.thelist__task-title--completed {
  text-decoration: line-through;
}

.indication {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding: 1.25rem;
  border: solid 1px red;
  border-radius: 50%;
  cursor: pointer;
}

.indication:hover .indication-hidden {
  display: block;
}

.indication-hidden {
  display: none;
  position: absolute;
  width: 250px;
  border: solid 1px #D3D3D3;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  top: -5.5rem;
  right: 1.5rem;
}

.indication__symbol {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  font-size: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn--white::after {
  background-color: white;
}

.header {
  background-image: linear-gradient(to right, #5643fa, #2998ff);
  position: relative;
}

.main__thelists {
  list-style: none;
  background-color: #f7f7f7;
}

