.thelist {
    width: 300px;
    display: inline-block;
    vertical-align:top;  
    margin: 2rem;
    background-color: $color-white;
    border: solid 1px $color-grey-light-3;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem $shadow;

    &__header{

        padding: 1rem 1rem 1rem 1.5rem;
        border-bottom: solid 1px $color-grey-light-3;
        position: relative;


        &-title {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
    
        }

    }

    &__list-tasks{
        list-style: none;
        padding: 1rem 1.5rem 1rem 1.5rem;


    }

    &__task{
        padding:0.5rem;
        background-color: $color-grey-light-4;
        margin-bottom: 1rem;

        &-checkbox{
            float: left;
        }

        &-title{
            padding-left: 3rem;
            color:black;
            font-weight: normal;
            
            &--completed{
                text-decoration: line-through;

            }
        }

    }
}